:root {
  --main-color: rgb(29, 40, 66);
  --main-color-light: rgb(244, 242, 253);
  --selected-color: rgb(225, 156, 215);
  --grey-color: rgb(200, 200, 200);
  --grey-lighter-color: rgb(223, 220, 220);
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto Slab", sans-serif;
  background-color: var(--main-color-light);
  color: #0e1238;
}

/*  ----------  TAG --------------------- */
.tag {
  font-size: 80%;
  color: #2e2e2e;
  margin-left: 20px;
  padding: 8px;
  border-radius: 10px;
  background: var(--grey-color);
  cursor: pointer;
}

.tag:hover {
  background: var(--grey-lighter-color);
}

.tag .selected {
  background: var(--selected-color);
}


/*  ----------  CARD --------------------- */
.card {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.4s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.card:hover {
  box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

.card small {
  color: #303030;
}
.card p {
  margin-bottom: 20px;
  margin-top: 20px;
  line-height: 1.6;
  font-size: 14px;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1.5rem;
}

.card button {
  margin: 20px 0px 0px 0px;
}

.selected {
  border: 2px solid var(--selected-color);
}

.important {
  background-color: var(--selected-color);
}

/*  ----------  HEADER  --------------------- */

header {
  margin: 0 50px 0px;
  text-align: center;
}

header h1 {
  padding: 30px 20px 20px;
  font-size: 24px;
}

/*  ----------  MATCHA MENU  --------------------- */

.matcha-menu {
  margin: 0 50px;
  padding: 20px 0;
}

.matcha-menu > ul {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.matcha-menu-item {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  transition: box-shadow 0.4s;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.matcha-menu-item:hover {
  box-shadow: 0 5px 20px rgba(1, 45, 128, 0.5);
}

.matcha-menu-item img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 15px;
}

.matcha-menu-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: var(--main-color);
}

.matcha-menu-item p {
  font-size: 16px;
  font-weight: bold;
  color: var(--selected-color);
}

@media (min-width: 600px) {
  .matcha-menu > ul {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .matcha-menu > ul {
    grid-template-columns: repeat(3, 1fr);
  }
}